
.commits-listing
  - @organization.commits.each do |commit|
    .commit-group-title
      %span.octicon.octicon-git-commit
      Commits on
      %span{data: {header: commit.commit_at}}
      .commit-grouptable-list.table-list-bordered
        qdnlk

%table.table.table-striped
  - @organization.commits.each do |commit|
    %tr
      %td{style: 'width: 1%'}= image_tag( commit.member.avatar_url, size: '50' )
      %td
        %p
          %b= commit.message
        %p{data: {header: commit.commit_at}}
        %span= commit.member.login 
        %span authored
        %span{data: {ago: commit.commit_at}}