%body.text-center
	%img{:src => "Professortocat_v2.png", :style => "height: 210px; margin-top: 35%"}

	%div
		Hoy hoy, please
		= link_to 'Sign In with Github !', user_omniauth_authorize_path( :github )
