<!DOCTYPE html>
<html>
<head>
  <title>OctoStats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="ICON" href="Professortocat_v2.ico" type="images/ico" />
</head>
<body>

  <img src="Professortocat_v2.png" alt="Mountain View" style="">

</body>
</html>